

<%= form_for(@definition) do |f| %>

  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>
      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class=" form-group">
      <%= f.label :word %>
      <%= f.text_field :word, size: 50 %>
    </div>
    <div class=" form-group">
      <%= f.label :meaning %>
      <%= f.text_field :meaning, size: 50  %>
    </div>
    <div class=" form-group">
      <%= f.label :part_of_speech %>
      <%= f.select :part_of_speech, ["noun","verb","pronoun","adjective","adverb","preposition","conjunction","interjection"] %>
    </div>
    <div class=" form-group">
      <%= f.label :example %><br>
      <%= f.text_area :example, rows:4, cols: 63 %>
    </div>
    <div>
      <%= f.submit class:"buttons"%>
    </div>
  <% end %>
