<div class="col-md-7">

  <p id="notice"><%= notice %></p>

  <% if user_signed_in? %>
    <h4>Welcome back, <%= current_user %></h4>
  <% end %>
  <% if @search %>
    <h4>You searched for: <%= @search %></h4>
  <% end %>

  <% if @definitions.empty? %>
    <p class="not_found">Oh no! No results found. =( </p>
  <% else %>
    <h2 class="titles"> Browse Our Dictionary </h2>
  <% end %>

  <div id="definitions">
    <%= render @definitions %>
  </div>

</div>

<div class="sidebar col-md-5">

  <h2 class="titles"> Word Challenge! </h2>
  <h5 class="titles"> Try to use it today </h5>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="word"><%= @random_definition.word %></p>
        <p class ="part_of_speech"><%= @random_definition.part_of_speech %></p>
        <ol>
          <li><%= @random_definition.meaning %></li>
          <p class="example"><%= @random_definition.example %></p>
        </ol>
      </div>
    </div>
  <ul>
    <li><a href="/definitions/new" class="buttons standalone">Add New Definition</a></li>
  </ul>

</div>
