  <div class="col-md-8">

    <p id="notice"><%= notice %></p>

    <% if @search %>
      <h4>You searched for: <%= @search %></h4>
    <% end %>

    <% @definitions.each do |definition| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="word"><%= definition.word %>
          <span class="edit_buttons">
            <%= link_to '', definition, class: "glyphicon glyphicon-info-sign" %>
            <%= link_to '', edit_definition_path(definition),class: "glyphicon glyphicon-pencil" %>
            <%= link_to '', definition, method: :delete, class: "glyphicon glyphicon-trash", data: { confirm: 'Are you sure?' } %>
          </span></p>
        

        </p>
        <p class ="part_of_speech"><%= definition.part_of_speech %></h5>
        <ol>
          <li><%= definition.meaning %></li>
          <p class="example">"<%= definition.example %>"</p>
        </ol>
      </div>
    </div>
    <% end %>

  </div> <!-- Main content -->

  <div class="sidebar col-md-4">
    <h2> Discover a New Word </h2>
    <%definition = @definitions.sample %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="word"><%= definition.word %></p>

        </p>
        <p class ="part_of_speech"><%= definition.part_of_speech %></h5>
        <ol>
          <li><%= definition.meaning %></li>
          <p class="example">"<%= definition.example %>"</p>
        </ol>
      </div>
    </div>




  </div> <!-- Sidebar -->
