<p id="notice"><%= notice %></p>


<% if @search %>
  <h3>Definitions Found</h3>
<% else %>
  <h3>Listing Definitions</h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Meaning</th>
      <th>Part of Speech</th>
      <th>Example</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @definitions.each do |definition| %>
      <tr>
        <td><%= definition.word %></td>
        <td><%= definition.meaning %></td>
        <td><%= definition.part_of_speech %></td>
        <td><%= definition.example %></td>
        <% if @search.nil? %>
          <td><%= link_to 'Show', definition %></td>
          <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
          <td><%= link_to 'Destroy', definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
<!-- SHOULD WE STICK WITH ERB/RUBY OR DO FORMS IN HTML??? -->
<!-- <% if @search.nil? %>
  <h3> Need to find a word?</h3>
  <%= form_tag(search_definitions_path, method: "get") do %>
  <%= text_field_tag :search, nil, placeholder: "Search Definitions" %>
  <%= submit_tag "Search" %>
  <% end %>
<% else %>
  <%= link_to 'Back', definitions_path %>
<% end %> -->
