<div class = "add_form">
<p id="notice"><%= notice %></p>
<h1>Definition</h1>
<div class = "show_word">
  <p>
    <strong>Word:</strong>
    <%= @definition.word %>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= @definition.meaning %>
  </p>

  <p>
    <strong>Part of Speech:</strong>
    <%= @definition.part_of_speech %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= @definition.example %>
  </p>
</div>

<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
</div>
